.scroll-srapper{
  display: flex;
  flex-direction: column;
  height: 400vh;
  overflow-y: scroll;
  scroll-behavior: smooth;


}

.mode-page {
  width: 100vw;
  height: 100vh; /* Optional: full screen */
  display: flex;              /* 🔥 Required to center */
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.transport-categories {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

}

.transport-card {
  width: 300px;
  height: 200px;
  margin: 20px;
  padding: 20px;
  background-color: #90e0ef;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.land-card {
  background-image: url('./images/land.png');
}

.water-card {
  background-image: url('./images/water.png');
}

.air-card {
  background-image: url('./images/air.png');
}

.land-vehicles {
  height: 100vh;
  width: 100vw;
  background-color: #0077b6;
  color: white;
}
.water-vehicles {
  height: 100vh;
  width: 100vw;
  background-color: #00b4d8;
  color: white;
}
.air-vehicles {
  height: 100vh;
  width: 100vw;
  background-color: #90e0ef;
  color: #023e8a;
}